.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
  text-align: center;
}

.app-header h1 {
  margin: 0;
}

.app-header nav ul {
  list-style: none;
  padding: 0;
  margin: 10px 0 0;
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
}

.logout-item {
  margin-left: auto;
}

.btn {
  background-color: #61dafb;
  color: #282c34;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  margin: 5px;
}

.btn-delete {
  background-color: #f44336;
  color: white;
}

.logout-button {
  width: auto;
  padding: 8px 12px;
}

.app-header nav a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

.app-content {
  flex-grow: 1;
  padding: 20px;
  text-align: center;
}

.app-footer {
  background-color: #282c34;
  padding: 10px;
  color: white;
  text-align: center;
  width: 100%;
}
